.about_section {
    .period {
        display: inline-block;
        font-size: 24px;
        color: #B3B2B2;
    }
    
    .career_wrap {
        margin-top: 150px;
        
        .career_list li {
            strong {
                display: block;
                font-size: 20px;
                font-style: italic;
                font-weight: 500;
                margin-bottom: 30px;
            }
            p {
                font-size: 18px;
                color: $color-gray;

                & + p {
                    margin-top: 10px;
                }
            }

            & + li {
                margin-top: 100px;
            }
        }
    }

    .skills_wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;

        li {
            width: 220px;
            text-align: center;
            margin:70px 65px 0 0;

            p {
                font-size: 22px;
                margin-top: 20px;
            }
        }
    }
}