.contact_section {
    height: 100vh;
    padding-bottom: 0;

    .content_wrap {
        height: 100%;
        padding-bottom: 0;
        
        .contact_wrap {
            @include flex(space-between, normal);
            height: 100%;
            background: url("/images/contact_bg.png") no-repeat center bottom / 100%;

            .resume_wrap {
                .title {
                    display: block;
                    font-size: 3.2rem;
                    font-weight: 400;
                }
                .pdf_btn {
                    display: inline-block;
                    font-size: 1.2rem;
                    padding: 15px 30px;
                    border-radius: 50vh;
                    background-color: $color-btn;
                    margin-top: 25px;
                }
            }

            .info_wrap {
                display: flex;
                padding: 22px 60px 0 0;

                .sns {
                    margin-left: 80px;
                }

                strong {
                    display: block;
                    font-size: 1.2rem;
                    font-style: italic;
                }

                ul {
                    margin-top: 20px;

                    li {
                        margin-top: 10px;

                        a {
                            font-size: 1.3rem;
                            color: $color-light;
                            transition: 0.3s;

                            &:hover {
                                color: $color-text;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (max-width:768px) {
    .contact_section .content_wrap .contact_wrap {
        display: block;

        .info_wrap {
            padding-top: 50px;
        }
    }
    
}