.main_section {
    padding:265px 0 300px;

    .main_title_wrap {
        @include flex(space-between, flex-end);

        .main_title {
            width: 63%;
            font-size: 7.5rem;
            font-weight: 400;
            letter-spacing: -0.02em;
        }
        .mini_title {
            font-size: 1.2rem;
            margin-bottom: 25px;
        }
    }

    .category_wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 50px;
        padding-top: 250px;

        .category {
            position: relative;
            flex: 1 1 calc(50% - 25px);

            &.contact {
                flex: 1 1 80%;
                margin: 150px 0 0 20%;
            }

            a {
                display: block;
                overflow: hidden;
                background-color: $color-bg-dark;

                .img {
                    transition: 0.6s;
                }

                img {
                    display: block;
                    object-fit: cover;
                }
                
                .hover_text {
                    @include center;
                    overflow: hidden;

                    p{
                        font-size: 20px;
                        font-weight: 400;
                        color: #fff;
                        transform: translateY(20px);
                        transition: 0.5s;
                    }
                }
                
                &:hover .img {
                    transform: scale(1.1);
                    opacity: 0.3;
                }
                &:hover .hover_text p {
                    transform: translateY(0px);
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .main_section {
        .main_title_wrap {
            display: block;

            .main_title {
                width: auto;
            }
            .mini_title {
                margin: 50px 0 0;
            }
        }

        .category_wrap {
            gap: 30px;
            padding-top: 130px;

            .category.contact {
                margin-top: 100px;
            }
        }
    }
}


@media (max-width: 768px){
    .main_section {
        padding: 200px 0;

        .main_title_wrap .main_title {
            font-size: 5.5rem;
        }

        .category_wrap {
            display: block;

            .category a .img {
                position: relative;
                padding-bottom: 100%;

                img {
                    @include absolute;
                    @include full-size;
                }
            }

            .category + .category {
                margin-top: 50px;
            }

            .category.contact {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}