/* _projects.scss */

.work_list {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;

    > li {
        flex: 0 0 calc(33.333% - 20px);
        margin-top:150px;

        a {
            display: block;
            width:100%;

            .img_wrap {
                position: relative;
                width: 100%;
                padding-bottom:100%;
                overflow: hidden;

                .img {
                    @include absolute;
                    @include full-size;
                    background-color: $color-bg-dark;

                    .hover_text {
                        @include center;
                        font-size: 20px;
                        font-weight: 400;
                        color: #fff;
                        overflow: hidden;

                        p {
                            transform: translateY(20px);
                            transition: 0.5s;
                        }
                    }

                    img {
                        @include full-size;
                        object-fit: cover;
                        transition: 0.5s;
                    }
                }
            }
            .text_wrap {
                margin-top:34px;

                .title {
                    font-size:1.4rem;
                }
                .des {
                    font-size:1.1rem;
                    margin-top:7px;
                }
                .skill_list {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        font-size: 1rem;
                        background-color: #e7e7e7;
                        padding: 3px 8px;
                        border-radius: 5px;
                        margin: 15px 5px 0 0;
                        color: #0052ce;
                    }
                }
            }

            &:hover .img_wrap .img .hover_text p {
                transform: translateY(0px);
            }
            &:hover img {
                opacity: 0.3;
            }
        }
    }
}


@media (max-width: 1200px){
    .work_list > li {
        flex: 0 0 calc(50% - 15px);
    }
}

@media (max-width: 768px){
    .sub_section .title_wrap .scroll {
        display: none;
    }

    .work_list > li {
        flex: 0 0 100%;
        margin-top: 50px;
    }
}