/* _footer.scss */


.footer {
    background: #eee;
}
.footer_wrap {
    @include flex(space-between, normal);
    @include container;
    padding: 110px 0 490px;
    background: url(/images/footer_bg.png) no-repeat center bottom / 100%;

    .resume_wrap {
        .title {
            display: block;
            font-size: 3.2rem;
            font-weight: 400;
        }
        .pdf_btn {
            display: inline-block;
            font-size: 1.2rem;
            padding: 15px 30px;
            border-radius: 50vh;
            background-color: $color-btn;
            margin-top: 25px;
        }
    }

    .contact_wrap {
        display: flex;
        padding: 22px 60px 0 0;

        .sns {
            margin-left: 80px;
        }

        strong {
            display: block;
            font-size: 1.2rem;
            font-style: italic;
        }

        ul {
            margin-top: 20px;

            li {
                margin-top: 10px;

                a {
                    font-size: 1.3rem;
                    color: $color-light;
                    transition: 0.3s;

                    &:hover {
                        color: $color-text;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer_wrap {
        display: block;
        padding-bottom: 270px;

        .contact_wrap {
            padding-top: 50px;
        }
    }
}