/* header css */
.header {
    @include absolute;
    width: 100%;
    padding: 40px 0;

    .header_wrap {
        @include container;

        nav {
            @include flex(space-between);

            .gnb {
                display:flex;

                li {
                    & + li {
                        position: relative;
                        margin-left: 30px;
                    }

                    & + li:before {
                        content: '';
                        position: absolute;
                        top: 15px;
                        left: -17px;
                        width:4px;
                        height:4px;
                        border-radius:50%;
                        background-color:#555;
                    }

                    a {
                        font-size:24px;
                        font-weight:200;
                        color: #555;

                        &.active {
                            font-weight: 300;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
