/* header css */
.header {
    @include absolute;
    width: 100%;
    padding: 40px 0;

    .header_wrap {
        @include container;

        nav {
            @include flex(space-between);

            .logo svg {
                width: 5.2rem;
                height: 2rem;
            }

            .gnb {
                display:flex;

                li {
                    & + li {
                        position: relative;
                        margin-left: 2rem;
                    }

                    & + li:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: -1rem;
                        width:0.2rem;
                        height:0.2rem;
                        border-radius:50%;
                        background-color:#555;
                    }

                    a {
                        font-size:1.4rem;
                        font-weight:200;
                        color: #555;

                        &.active {
                            font-weight: 300;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){

    .header .header_wrap nav .gnb li + li {
        margin-left: 1.5rem;

        &::before {
            left: -0.8rem;
        }
    }
}