/* _layout.scss */

section {
  @include container;
}

.sub_section {
    min-height: 100vh;
    padding: 300px 0;

    .title_wrap {
        @include flex(space-between, flex-end);

        .sub_title {
            font-size:3.3rem;

            em {
                display: inline-block;
                font-size:1.2rem;
                vertical-align:text-top;
                margin-top:3px;
            }
        }
        .scroll {
            font-size:1.5rem;
            margin-bottom:6px;
            padding-right: 1.5rem;
            background: url(/images/arrow1.png) no-repeat center right / 0.6rem;
        }
    }
}


@media (max-width: 768px){
    .sub_section {
        padding: 200px 0;
    }
}