// _variables.scss

// color style
$color-bg-white: #fbfbfb;
$color-bg-dark: #000;
$color-text: #000;
$color-gray: #7A7979;
$color-light: #cbcbcb;
$color-btn: #ddd;

// font style
$font-main: "Noto Sans KR", "Roboto", sans-serif;

// layout
$fix-width: 91%;
$max-width: 1560px;