@charset "UTF-8";
/* reset.scss */
/* 박스 사이즈 계산을 border-box로 통일 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본 여백 제거 */
body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
figure, figcaption,
blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* 리스트 점 제거 */
ul, ol {
  list-style: none;
}

/* 링크 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 이미지와 영상의 최대 크기 제어 */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 버튼, input 등 기본 폰트 상속 */
button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button:hover,
a:hover {
  color: #000;
}

/* strong, b 기본 굵기 조정 */
strong, b {
  font-weight: 600;
}

/* _global.scss */
html, body, #root {
  width: 100%;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-style: normal;
  color: #000;
  line-height: normal;
  letter-spacing: -0.02em;
  background-color: #fbfbfb;
}

/* _font.scss */
/* header css */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
}
.header .header_wrap {
  width: 91%;
  max-width: 1560px;
  margin: 0 auto;
}
.header .header_wrap nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_wrap nav .gnb {
  display: flex;
}
.header .header_wrap nav .gnb li + li {
  position: relative;
  margin-left: 30px;
}
.header .header_wrap nav .gnb li + li:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -17px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #555;
}
.header .header_wrap nav .gnb li a {
  font-size: 24px;
  font-weight: 200;
  color: #555;
}
.header .header_wrap nav .gnb li a.active {
  font-weight: 300;
  color: #000;
}

/* _footer.scss */
.footer {
  background: #eee;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  width: 91%;
  max-width: 1560px;
  margin: 0 auto;
  padding: 110px 0 490px;
  background: url(/images/footer_bg.png) no-repeat center bottom/100%;
}
.footer_wrap .resume_wrap .title {
  display: block;
  font-size: 50px;
  font-weight: 400;
}
.footer_wrap .resume_wrap .pdf_btn {
  display: inline-block;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 50vh;
  background-color: #ddd;
  margin-top: 25px;
}
.footer_wrap .contact_wrap {
  display: flex;
  padding: 22px 60px 0 0;
}
.footer_wrap .contact_wrap .sns {
  margin-left: 80px;
}
.footer_wrap .contact_wrap h3 {
  display: block;
  font-size: 18px;
  font-style: italic;
}
.footer_wrap .contact_wrap ul {
  margin-top: 20px;
}
.footer_wrap .contact_wrap ul li {
  margin-top: 10px;
}
.footer_wrap .contact_wrap ul li a {
  font-size: 20px;
  color: #cbcbcb;
  transition: 0.3s;
}
.footer_wrap .contact_wrap ul li a:hover {
  color: #000;
}

/* _layout.scss */
section {
  width: 91%;
  max-width: 1560px;
  margin: 0 auto;
}

.sub_section {
  min-height: 100vh;
  padding-top: 300px;
}
.sub_section .content_wrap {
  padding-bottom: 300px;
}
.sub_section .title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sub_section .title_wrap .sub_title {
  font-size: 52px;
}
.sub_section .title_wrap .sub_title em {
  display: inline-block;
  font-size: 20px;
  vertical-align: text-top;
  margin-top: 3px;
}
.sub_section .title_wrap .scroll {
  font-size: 24px;
  margin-bottom: 6px;
  padding-right: 23px;
  background: url(/images/arrow1.png) no-repeat center right/10px;
}

.main_section {
  padding: 265px 0 300px;
}
.main_section .main_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main_section .main_title_wrap .main_title {
  font-size: 130px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.main_section .main_title_wrap .mini_title {
  font-size: 22px;
  margin-bottom: 25px;
}
.main_section .category_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
  padding-top: 250px;
}
.main_section .category_wrap .category {
  position: relative;
  flex: 1 1 calc(50% - 25px);
}
.main_section .category_wrap .category.about {
  aspect-ratio: 10/13;
}
.main_section .category_wrap .category.projects {
  aspect-ratio: 1/1;
}
.main_section .category_wrap .category.contact {
  aspect-ratio: 17/10;
  flex: 1 1 80%;
  margin: 150px 0 0 20%;
}
.main_section .category_wrap .category a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}
.main_section .category_wrap .category a .img {
  width: 100%;
  height: 100%;
  transition: 0.6s;
}
.main_section .category_wrap .category a img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_section .category_wrap .category a .hover_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.main_section .category_wrap .category a .hover_text p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  transform: translateY(20px);
  transition: 0.5s;
}
.main_section .category_wrap .category a:hover .img {
  transform: scale(1.1);
  opacity: 0.3;
}
.main_section .category_wrap .category a:hover .hover_text p {
  transform: translateY(0px);
}

/* _projects.scss */
.work_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work_list > li {
  flex: 0 0 calc(33.333% - 20px);
  margin-top: 150px;
}
.work_list > li a {
  display: block;
  width: 100%;
}
.work_list > li .img_wrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.work_list > li .img_wrap .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.work_list > li .img_wrap .img .hover_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  overflow: hidden;
}
.work_list > li .img_wrap .img .hover_text p {
  transform: translateY(20px);
  transition: 0.5s;
}
.work_list > li .img_wrap .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.work_list > li .img_wrap .img:hover .hover_text p {
  transform: translateY(0px);
}
.work_list > li .img_wrap .img:hover img {
  opacity: 0.3;
}
.work_list > li .text_wrap {
  margin-top: 34px;
}
.work_list > li .text_wrap .title {
  font-size: 22px;
}
.work_list > li .text_wrap .des {
  font-size: 16px;
  margin-top: 7px;
}
.work_list > li .text_wrap .skill_list {
  display: flex;
  margin-top: 15px;
}
.work_list > li .text_wrap .skill_list li {
  font-size: 15px;
  background-color: #e7e7e7;
  padding: 3px 8px;
  border-radius: 5px;
  margin-right: 5px;
}
.work_list > li .text_wrap .skill_list li.html {
  color: #04b8f0;
}
.work_list > li .text_wrap .skill_list li.css {
  color: #ff41d1;
}
.work_list > li .text_wrap .skill_list li.scss {
  color: #ff107e;
}
.work_list > li .text_wrap .skill_list li.styled-components {
  color: #c65efd;
}
.work_list > li .text_wrap .skill_list li.tailwind {
  color: #c65efd;
}
.work_list > li .text_wrap .skill_list li.javascript {
  color: #00ce76;
}
.work_list > li .text_wrap .skill_list li.react {
  color: #ff9e00;
}
.work_list > li .text_wrap .skill_list li.next {
  color: #0052ce;
}

.about_section .period {
  display: inline-block;
  font-size: 24px;
  color: #B3B2B2;
}
.about_section .career_wrap {
  margin-top: 150px;
}
.about_section .career_wrap .career_list li strong {
  display: block;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 30px;
}
.about_section .career_wrap .career_list li p {
  font-size: 18px;
  color: #7A7979;
}
.about_section .career_wrap .career_list li p + p {
  margin-top: 10px;
}
.about_section .career_wrap .career_list li + li {
  margin-top: 100px;
}
.about_section .skills_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.about_section .skills_wrap li {
  width: 220px;
  text-align: center;
  margin: 70px 65px 0 0;
}
.about_section .skills_wrap li p {
  font-size: 22px;
  margin-top: 20px;
}

.contact_section {
  height: 100vh;
  padding-top: 150px;
}
.contact_section .content_wrap {
  height: 100%;
  padding-bottom: 0;
}
.contact_section .content_wrap .contact_wrap {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  height: 100%;
  padding-top: 150px;
  background: url("/images/contact_bg.png") no-repeat center bottom/100%;
}
.contact_section .content_wrap .contact_wrap .resume_wrap .title {
  display: block;
  font-size: 40px;
  font-weight: 400;
}
.contact_section .content_wrap .contact_wrap .resume_wrap .pdf_btn {
  display: inline-block;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 50vh;
  background-color: #ddd;
  margin-top: 25px;
}
.contact_section .content_wrap .contact_wrap .info_wrap {
  display: flex;
  padding: 22px 60px 0 0;
}
.contact_section .content_wrap .contact_wrap .info_wrap .sns {
  margin-left: 80px;
}
.contact_section .content_wrap .contact_wrap .info_wrap h3 {
  display: block;
  font-size: 18px;
  font-style: italic;
}
.contact_section .content_wrap .contact_wrap .info_wrap ul {
  margin-top: 20px;
}
.contact_section .content_wrap .contact_wrap .info_wrap ul li {
  margin-top: 10px;
}
.contact_section .content_wrap .contact_wrap .info_wrap ul li a {
  font-size: 20px;
  color: #cbcbcb;
  transition: 0.3s;
}
.contact_section .content_wrap .contact_wrap .info_wrap ul li a:hover {
  color: #000;
}